#root {
  text-align: center;
}
.taskbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(64, 64, 71);
  margin-bottom: 10px;
}

.image-input{
  position: relative;
  right: 10;
}

.interface{
  margin: 0 auto;
  position: relative;
  justify-content: center;
}