/* MainMap.css */

.map-container {
    display: flex;
    height: 90vh;
    justify-content: space-between;
  }
  
  .map-wrapper {
    flex-grow: 1;
    width: 50%; /* Set the width to 50% for left half */
    max-width: 60%; /* Ensure a maximum width of 50% */
  }
  